@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root{

    --primary-color: #6EE7B7;
    --secondary-color: grey;

}


body
{
    font-family: 'Quicksand', sans-serif;
}

.container-fluid
{
    padding-left: 10rem;
    padding-right: 10rem;

}
.container-center
{
    max-width: 600px;
    margin: auto;
}

.link{
    text-decoration: none; 
    /* to remove the underline and other decor */
    padding: 1rem 1rem ;

    /*padding-bottom
      padding-left
      padding-right
      padding-top */
}
.linkshr{
    margin: 3rem 0rem 0rem 0rem;
}
/* can be used instead of <br> tag */


.primary-link
{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    margin: 1rem 1rem 1rem 0rem

}
.secondary-link
{
    border: 1px solid var(--primary-color);
    /* background-color: var(--primary-color); */
 
    color: var(--primary-color);
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0rem


}
.no-bullet
{
list-style: none;

}
.inline-text
{
    display: inline;
    padding: 0rem 1rem 0rem ;
}

.navigator
{
    background-color: var(--primary-color);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding-left: 1rem;
}

.navigator-head
{
    padding-left: 2rem ;
    padding-top: 2.5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
   
}

.navigator .link
{
    color: white;
}

.navigator-list
{
    text-align: right;
    padding: 1rem;
}

.navigator .link-active
{
    font-weight: bold;
}

.hero
{
    padding: 2rem;
}
.hero-image
{
max-width: 350px;
display: block;
margin: auto;

}
.hero-text
{
    /* font-size: large; */
    font-weight: bold;
    color: var(--secondary-color);
  text-align: center;
}

.section
{
    padding: 2rem;
}
.section,h3
{
text-align: center;
}

.s1
{
    background-color:lavender;
}

.article-1
{
    padding-left: 1rem;
    display: block;
}

.article-button
{
    padding-top: 1rem;
padding-bottom: 2rem;
}

.foot
{
    background-color: var(--primary-color);
    padding: 3rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
}

.foot-head{
padding-top: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;

}

.foot .link
{
    color: white;
}

.foot-list
{
    text-align: center;
    margin: auto;
    padding-inline-start: 0px;
}

.foot-small
{
    text-align: right;
    color: white;
    padding-top: 1rem;
}
